@mixin button($theme: clear) {
  @include appearance(none);
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $small-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;

  &:hover,
  &:focus {
    background-color: transparentize($black, 0.95);
    color: $black;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @if $theme == light {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: transparentize($white, 0.95);
    }
  }
}

@mixin link-color($theme: dark) {
  @if $theme == light {
    color: $light-font-color;

    &:hover {
      color: $action-color;
    }
  } @else {
    color: $base-font-color;

    &:hover {
      color: $action-color;
    }
  }
}
