@mixin article-section($full-width: false) {
  @include clearfix;
  padding: $base-spacing 0;
  border-bottom: 1px solid $light-border-color;

  @unless $full-width {
    @include outer-container;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  @include media($medium-screen-up) {
    padding: $large-spacing 0;
  }
}

@mixin vertical-gradient-mask($color, $length: rem(100)) {
  &:after {
    @include linear-gradient(transparentize($color, 1), $color);
    position: absolute;
    display: block;
    content: " ";
    height: $length;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin page-container {
  @include outer-container;

  $large-page-container-padding: $base-spacing;
  $small-page-container-padding: $medium-spacing;

  padding-left: $small-page-container-padding;
  padding-right: $small-page-container-padding;

  @include media($medium-screen-up) {
    padding-left: $large-page-container-padding;
    padding-right: $large-page-container-padding;
  }

  @include media(new-breakpoint(min-width $extra-large-screen-min-width + $large-page-container-padding)) {
    padding-left: 0;
    padding-right: 0;
  }
}
