@mixin article-section($full-width: false) {
  @include clearfix;
  padding: 80px 0;
  border-bottom: 1px solid $light-border-color;

  @unless $full-width {
    @include outer-container;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

@mixin gradient-mask($color) {
  &:after {
    @include linear-gradient(transparentize($color, 1), $color);
    position: absolute;
    display: block;
    content: " ";
    height: rem(100);
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin page-container {
  @include outer-container;

  $large-page-container-padding: $base-spacing;
  $small-page-container-padding: rem(20);

  @include media(new-breakpoint(max-width ($large-screen-max-width + $large-page-container-padding * 2))) {
    padding: $large-page-container-padding;
  }

  @include media($medium-screen-down) {
    padding: $small-page-container-padding;
  }
}
