@mixin article-section {
  @include outer-container;
  padding: 80px 0;
  border-bottom: 1px solid $light-border-color;

  p:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

@mixin gradient-mask($color) {
  &:after {
    @include linear-gradient(transparentize($color, 1), $color);
    position: absolute;
    display: block;
    content: " ";
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
