<section class="featured-projects-group">
  <article class="featured-project-section featured-project-section--12wbt">
    <div class="featured-project-section__container">
      <div class="featured-project-section__intro">
        <h1 class="featured-project-section__title">
          Michelle Bridges 12 Week Transformation
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt.
        </p>

        <button>
          More detail
        </button>
      </div>

      <aside class="featured-project-section__aside">
        <img/>
      </aside>
    </div>
  </article>

  <article class="featured-project-section featured-project-section--vibe">
    <div class="featured-project-section__container">
      <aside class="featured-project-section__aside">
        <img/>
      </aside>

      <div class="featured-project-section__intro">
        <h1 class="featured-project-section__title">
          Vibe Hotels Australia
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt.
        </p>

        <button>
          More detail
        </button>
      </div>
    </div>
  </article>

  <article class="featured-project-section featured-project-section--beautyheaven">
    <div class="featured-project-section__container">
      <div class="featured-project-section__intro">
        <h1 class="featured-project-section__title">
          BeautyHeaven
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt.
        </p>

        <button>
          More detail
        </button>
      </div>

      <aside class="featured-project-section__aside">
        <img/>
      </aside>
    </div>
  </article>
</section>
