<article class="page-section featured-project-section featured-project-section--12wbt">
  <div class="featured-project-section__container">
    <div class="featured-project-section__intro">
      <h1 class="featured-project-section__title">
        Michelle Bridges 12 Week Transformation
      </h1>

      <p>
        Michelle Bridges 12 Week Body Transformation (12WBT) is a subscription-based digital product designed to help people reach their fitness goals, such as losing weight. I was part of a team responsible for implementing and maintaining membership features for their web and iOS applications.
      </p>

      <button>
        More detail
      </button>
    </div>

    <aside class="featured-project-section__aside">
      <img/>
    </aside>
  </div>
</article>

<article class="page-section featured-project-section featured-project-section--vibe">
  <div class="featured-project-section__container">
    <aside class="featured-project-section__aside">
      <img/>
    </aside>

    <div class="featured-project-section__intro">
      <h1 class="featured-project-section__title">
        Vibe Hotels Australia
      </h1>

      <p>
        Vibe Hotels needed a website to catalogue their hotels and direct users to their booking engine. I was involved in the production of their desktop and mobile website, from design to implementation.
      </p>

      <button>
        More detail
      </button>
    </div>
  </div>
</article>

<article class="page-section featured-project-section featured-project-section--beautyheaven">
  <div class="featured-project-section__container">
    <div class="featured-project-section__intro">
      <h1 class="featured-project-section__title">
        BeautyHeaven
      </h1>

      <p>
        BeautyHeaven features news and reviews of the latest beauty products and trends. Previously, it only had a desktop website - and I was part of a team responsible for making it mobile-friendly.
      </p>

      <button>
        More detail
      </button>
    </div>

    <aside class="featured-project-section__aside">
      <img/>
    </aside>
  </div>
</article>
