<header class="page-section hero-header">
  {% include navigation.html %}

  <div class="hero-header__container">
    <h1 class="hero-header__title">
      David Chin
    </h1>

    <p class="hero-header__subtitle">
      Web &amp; App Developer
    </p>

    <p class="hero-header__intro">
      I am a developer, specialising in front-end web and native application development.
    </p>

    <div class="hero-header__action">
      <button>
        More about me
      </button>
    </div>
  </div>
</header>
