<section class="page-section minor-projects-group">
  <div class="minor-projects-group__container">
    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          Neuplace
        </h1>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est.
      </p>

      <div class="minor-project-section__action">
        <button>
          More detail
        </button>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          Angular Endless Scroll
        </h1>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est.
      </p>

      <div class="minor-project-section__action">
        <button>
          More detail
        </button>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          TinyPantry
        </h1>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, lectus eu tempus scelerisque, est velit eleifend dui, et hendrerit dui justo vel nisl. In sed ornare enim. Quisque eget venenatis est.
      </p>

      <div class="minor-project-section__action">
        <button>
          More detail
        </button>
      </div>
    </article>
  </div>
</section>
