<section class="page-section minor-projects-group">
  <div class="minor-projects-group__container">
    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          Angular Endless Scroll
        </h1>
      </div>

      <p>
        Angular Endless Scroll is an open-source AngularJS directive, developed to help people implement infinite scrolling UI. It attempts to address the memory issue of having too many DOM elements as the page gets longer, and allow deep-linking to paginated pages.
      </p>

      <div class="minor-project-section__action">
        <button>
          View project
        </button>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          TinyPantry
        </h1>
      </div>

      <p>
       TinyPantry is a recipe website built with AngularJS and Rails. It has an authentication system allowing users to save their favourite recipes. Recipes are scraped and categorised daily by a scheduled task - the frontend simply renders the data fetched from a versioned API.
     </p>

      <div class="minor-project-section__action">
        <button>
          View project
        </button>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <h1 class="minor-project-section__image-caption">
          Neuplace
        </h1>
      </div>

      <p>
        Neuplace is a native iOS app showcasing curated images of interior designs. It is integrated with Tumblr JSON API, featuring an endless collection of images which users can bookmark and share. Dynamic contents and static assets are cached to reduce latency.
      </p>

      <div class="minor-project-section__action">
        <button>
          View project
        </button>
      </div>
    </article>
  </div>
</section>
