<section class="page-section minor-projects-group">
  <div class="minor-projects-group__container">
    <h1 class="minor-projects-group__title">
      Personal Projects
    </h1>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <span class="minor-project-section__image-caption">
        </span>
      </div>

      <div class="minor-project-section__body">
        <div class="minor-project-section__body-container">
          <h1 class="minor-project-section__title">
            Angular Endless Scroll
          </h1>

          <p>
            Angular Endless Scroll is an AngularJS directive for implementing infinite scrolling UI. It addresses the memory issue of having too many DOM elements as the page gets longer, and allows pagination deep-linking.
          </p>

          <div class="minor-project-section__action">
            <a href="//github.com/{{ site.data.social.github.username }}/angular-endless-scroll" class="button" target="_blank">
              View project
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <span class="minor-project-section__image-caption">
        </span>
      </div>

      <div class="minor-project-section__body">
        <div class="minor-project-section__body-container">
          <h1 class="minor-project-section__title">
            TinyPantry
          </h1>

          <p>
            TinyPantry is a recipe website built with AngularJS and Rails. Recipes are scraped and categorised daily by a scheduled task - the AngularJS is used to render the data fetched from a versioned API.
          </p>

          <div class="minor-project-section__action">
            <a href="//github.com/{{ site.data.social.github.username }}/tinypantry" class="button" target="_blank">
              View project
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__image">
        <span class="minor-project-section__image-caption">
        </span>
      </div>

      <div class="minor-project-section__body">
        <div class="minor-project-section__body-container">
          <h1 class="minor-project-section__title">
            Neuplace
          </h1>

          <p>
            Neuplace is a native iOS app showcasing curated images of interior designs. It is integrated with Tumblr JSON API, featuring an endless collection of images which users can bookmark and share.
          </p>

          <div class="minor-project-section__action">
            <a href="https://itunes.apple.com/app/id955254120" class="button" target="_blank">
              View project
            </a>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
