---
layout: plain
---

<div class="home-layout">
  {% include home/header.html %}

  <section>
    <section class="featured-project-section">
      <div class="featured-project-section__container">
        <div class="featured-project-section__intro">
          <h1 class="featured-project-section__title">
            Michelle Bridges 12 Week Transformation
          </h1>

          <p>
            Michelle Bridges 12 Week Body Transformation (12WBT) is a subscription-based digital product designed to help people reach their fitness goals, such as losing weight. I was part of a team responsible for implementing and maintaining membership features for their web and iOS applications.
          </p>
        </div>

        <aside class="featured-project-section__aside">
          <figure>
          </figure>
        </aside>
      </div>
    </section>
  </section>

  <section>
    <section class="minor-project-section">
      
    </section>

    <section class="minor-project-section">
      
    </section>

    <section class="minor-project-section">
      
    </section>
  </section>

  {% include home/footer.html %}
</div>
