---
layout: home
---

<div class="hero">
    {% img 'logo.jpg' alt:'David Chin' class:'hero__image' %}

    <p class="hero__description">
        Software Engineer
    </p>

    <ul class="hero__navigation">
        <li class="hero__navigationItem">
            <a href="https://github.com/davidchin" title="Github">
                {% include icon-github.svg class="hero__navigationIcon" %}
            </a>
        </li>
        <li class="hero__navigationItem">
            <a href="https://www.linkedin.com/in/davidchin86" title="LinkedIn">
                {% include icon-linkedin.svg class="hero__navigationIcon" %}
            </a>
        </li>
    </ul>
</div>
