---
layout: home
---

<div class="hero">
    <img class="hero__image" src="{{ site.github.url }}/assets/img/logo.jpg">

    <p class="hero__description">
        Software Engineer
    </p>

    <ul class="hero__navigation">
        <li class="hero__navigationItem">
            <a href="https://github.com/davidchin" title="Github">
                {% include icon-github.svg class="hero__navigationIcon" %}
            </a>
        </li>
        <li class="hero__navigationItem">
            <a href="https://www.linkedin.com/in/davidchin86" title="LinkedIn">
                {% include icon-linkedin.svg class="hero__navigationIcon" %}
            </a>
        </li>
    </ul>
</div>
