---
layout: page
title: Blog
subtitle: Sharing things I've learnt in development
---

<section itemscope itemtype="{{ site.data.settings.microdata.url }}/Blog" class="content-column">
  {% for post in site.posts %}
  <article itemprop="blogPost" class="blog-article-summary">
    <p class="blog-article-summary__meta">
      {% include blog/post-meta.html %}
    </p>

    <h1 itemprop="headline" class="blog-article-summary__title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div itemtype="description" class="blog-article-summary__body">
      {% if post.description %}
        {{ post.description | markdownify }}
      {% else %}
        {{ post.content | truncatewords:50 | markdownify }}
      {% endif %}
    </div>

    <a href="{{ post.url }}" class="button">
      Read more
    </a>
  </article>
  {% endfor %}
</section>
