.page-content {
  @include page-container;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;

  @include media($medium-screen-up) {
    padding-top: $page-content-spacing;
    padding-bottom: $page-content-spacing;
  }
}

.outer-container {
  @include outer-container;
}

@include media($medium-screen-up) {
  .content-column {
    @include span-columns(8);
  }

  .aside-column {
    @include span-columns(4);
    @include omega();
  }
}
