// Global footer
.global-footer {
  background: $dark-gray;
  color: $white;
}

.global-footer__container {
  @include outer-container;
  padding-bottom: 30px;
}

.fine-print-footer {
  color: $medium-gray;
  font-size: $small-font-size;

  a {
    color: $medium-gray;
    font-weight: $bold-font-weight;
  }
}
