// Global footer
.global-footer {
  background: $dark-gray;
  color: $white;
}

.global-footer__container {
  @include page-container;
  padding-bottom: $base-spacing;
}

.fine-print-footer {
  color: $medium-gray;
  font-size: $small-font-size;

  a {
    color: $medium-gray;
    font-weight: $bold-font-weight;
  }
}

// ----
// Contact footer
.contact-footer {
  background: $dark-gray;
  color: $white;

  .global-footer-navigation {
    border-top: 1px solid $dark-border-color;
    margin-top: $base-spacing;
  }
}

.contact-footer__container {
  @include page-container;

  &:first-child {
    padding-top: $base-spacing;
  }

  &:last-child {
    padding-bottom: $base-spacing;
  }
}

.contact-footer__title {
  font-size: rem(40);
  font-weight: $thin-font-weight;
  margin-bottom: 0.25em;
}

.contact-footer__intro {
  @include heading-font(3);
  margin-bottom: 0;
  font-weight: $thin-font-weight;
}

.contact-footer__meta {
  font-size: $base-font-size;

  > li {
    display: inline-block;
    margin-right: rem(40);

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    font-size: 1.4em;
    vertical-align: -3px;
  }

  a {
    @extend %link-light;
  }
}

@include media($medium-screen-up) {
  .contact-footer__container {
    &:first-child {
      padding-top: $large-spacing;
    }
  }

  .contact-footer__title {
    font-size: rem(60);
  }

  .contact-footer__intro,
  .contact-footer__aside {
    @include span-columns(6);
  }
}
