// Global footer
.global-footer {
  background: $dark-gray;
  color: $white;
}

.global-footer__container {
  @include outer-container;
  padding-bottom: 30px;
}

.fine-print-footer {
  color: $medium-gray;
  font-size: $small-font-size;

  a {
    color: $medium-gray;
    font-weight: $bold-font-weight;
  }
}

// Contact footer
.contact-footer {
  background: $dark-gray;
  color: $white;

  .global-footer-navigation {
    border-top: 1px solid $dark-border-color;
    margin-top: 30px;
  }
}

.contact-footer__container {
  @include outer-container;

  &:first-child {
    padding-top: 60px;
  }

  &:last-child {
    padding-bottom: 30px;
  }
}

.contact-footer__title {
  font-size: rem(60);
  font-weight: $thin-font-weight;
  margin-bottom: 0.25em;
}

.contact-footer__intro {
  @include span-columns(6);
  font-size: rem(30);
  font-weight: $thin-font-weight;
}

.contact-footer__aside {
  @include span-columns(4);
}

.contact-footer__meta {
  font-size: $base-font-size;

  > li {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    font-size: 1.4em;
    vertical-align: -3px;
  }

  a {
    @extend %link-light;
  }
}
