// Global header
.global-header {
  padding: 30px 0 0;
  background: $light-gray;
}

.global-header__container {
  @include outer-container;
  position: relative;
  padding-bottom: 19px;
  border-bottom: 1px solid $base-border-color;
}

.global-header__logo {
  display: inline-block;
  font-size: rem(33);
  font-weight: 900;
  font-family: $brand-font-family;
  text-transform: uppercase;

  &,
  &:hover {
    color: $black;
  }
}

.global-navigation {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

// Page header
.page-header {
  background: $light-gray;
}

.page-header__title {
  font-weight: 300;
  font-size: rem(75);
  margin-bottom: 0;
}

.page-header__subtitle {
  font-weight: 300;
  font-size: rem(30);
  margin-bottom: 0;
}

.page-header__title,
.page-header__subtitle {
  max-width: 80%;
}

.page-header__accessory-title {
  text-transform: uppercase;
  font-size: $small-font-size;
  color: inherit;
  opacity: 0.3;
  position: absolute;
  right: 0;
  bottom: 15px;

  &:hover {
    color: inherit;
  }
}

.page-header__container {
  @include outer-container;
  padding: 70px 0;
  position: relative;
}
