// Global header
.global-header {
  padding: 0;
  background: $light-gray;
  overflow: hidden;

  .navicon-button {
    position: absolute;
    top: -1px;
    right: -1px;
  }
}

.global-header__container {
  position: relative;
  border-bottom: 1px solid $base-border-color;
  padding: $small-spacing;
  text-align: center;
}

.global-header__logo {
  @include logo(170px, 22px);
  display: inline-block;

  &,
  &:hover {
    color: $black;
  }
}

// --------------------
// Page header
.page-header {
  background: $light-gray;
}

.page-header__title {
  @include heading-font(1);
}

.page-header__subtitle {
  @include heading-font(3);
}

.page-header__title,
.page-header__subtitle,
.page-header__accessory-title {
  text-align: center;
  margin-bottom: 0;
}

.page-header__accessory-title {
  display: block;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  font-weight: 400;

  &:hover {
    color: inherit;
  }
}

.page-header__container {
  @include page-container;
  position: relative;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
}

@include media($medium-screen-up) {
  .global-header {
    .global-navigation__menu {
      visibility: visible;
    }

    .navicon-button {
      visibility: hidden;
    }
  }

  .page-header__container {
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
  }
}

@include media($large-screen-up) {
  .page-header__container {
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
}
