// Global header
.global-header {
  padding: rem(30) 0 0;
  background: $light-gray;
}

.global-header__container {
  @include page-container;
  position: relative;
  padding-bottom: rem(20);
  border-bottom: 1px solid $base-border-color;
}

.global-header__logo {
  @include logo(170px, 22px);
  display: inline-block;

  &,
  &:hover {
    color: $black;
  }
}

.global-navigation {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -10px;
}

// Page header
.page-header {
  background: $light-gray;
}

.page-header__title {
  font-weight: 300;
  font-size: rem(75);
  margin-bottom: 0;
}

.page-header__subtitle {
  font-weight: 300;
  font-size: rem(30);
  margin-bottom: 0;
}

.page-header__title,
.page-header__subtitle {
  max-width: 80%;
}

.page-header__accessory-title {
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  font-weight: 400;

  &:hover {
    color: inherit;
  }
}

.page-header__container {
  @include page-container;
  padding: rem(70) 0;
  position: relative;
}
