// -----
// Navigation
.global-navigation {
  display: inline-block;
  position: absolute;
  text-align: right;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  text-transform: uppercase;
  font-size: $base-font-size;
}

.global-header .global-navigation--active,
.global-navigation--active {
  .navicon-button {
    background: $black;
    color: $white;
    border-color: $black;
    z-index: 1;

    i {
      @include transform(rotate(180deg));
    }
  }

  .navicon-button__icon:before {
    content: $ionicon-var-ios-close-empty;
  }

  .global-navigation__menu {
    @include transform(translateX(0));
  }
}

.global-header {
  .global-navigation__menu {
    @include transition(transform 0.3s ease-in-out);
    @include transform(translateX(100%));
    position: absolute;
    height: 56px;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $black;
    text-align: left;
    padding-left: rem(10);
    padding-top: 0;
    padding-bottom: 0;

    a {
      @include link-color(light);
    }
  }
}

.global-navigation__menu {
  padding: rem(15) 0;

  > li {
    display: inline-block;
    padding: 0 rem(10);
  }

  a {
    @include link-color(dark);
    font-weight: bold;
  }
}

@include media($medium-screen-up) {
  .global-navigation {
    font-size: $large-font-size;
  }

  .global-header {
    .global-navigation__menu {
      @include transform(translateX(0));
      background: none;
      text-align: right;
      padding: 0 $base-spacing;
      left: auto;
      right: rem(-10);

      a {
        @include link-color(dark);
      }
    }
  }
}

// -----
// Navicon
.navicon-button {
  border: 1px solid $base-border-color;
  font-size: rem(30);
  padding: 0;
  height: 57px;
  width: 57px;
  vertical-align: middle;

  i {
    @include transition(transform 0.3s ease-in-out);
    display: inline-block;
    line-height: 0;
  }
}

// -----
// Footer
.global-footer-navigation {
  padding: rem(40) 0;
  clear: both;

  > ul > li {
    display: inline-block;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    @include link-color(light);
    font-weight: bold;
    font-size: $small-font-size;
  }
}

.global-footer-navigation__container {
  @include page-container;
}

// -----
// FullPage Nav
#fp-nav {
  visibility: hidden;
  background: transparentize($white, 0.3);
  border-radius: 14px;
}

@include media($small-screen-up) {
  visibility: visible;
}
