.global-navigation {
  text-transform: uppercase;
  padding: 15px 0;

  > ul > li {
    display: inline-block;
    padding: 0 10px;
  }

  a {
    color: $base-font-color;
    font-weight: bold;
    font-size: 20px;
  }
}

.global-footer-navigation {
  margin-top: 60px;
  padding: 40px 0;
  clear: both;

  > ul > li {
    display: inline-block;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    @extend %link-light;
    font-weight: bold;
    font-size: 16px;
  }
}

.global-footer-navigation__container {
  @include outer-container;
}

// FullPage Nav
#fp-nav {
  background: transparentize($white, 0.5);
  border-radius: 14px;
}
