.featured-project-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.featured-project-section--12wbt {
  background: $white;
}

.featured-project-section--vibe {
  background: $dark-gray;
  color: $white;

  button {
    border-color: $white;
    color: $white;
  }
}

.featured-project-section--beautyheaven {
  background: $turquoise;
  color: $white;

  button {
    border-color: $white;
    color: $white;
  }
}

.featured-project-section__container {
  @include outer-container;
}

.featured-project-section__title {
  font-size: 60px;
  font-weight: $thin-font-weight;
  margin-bottom: 0.5em;
}

.featured-project-section__intro {
  @include span-columns(8);
  font-size: 20px;
}

.featured-project-section__aside {
  @include span-columns(4);
}

.minor-projects-group {
  @include outer-container;
  padding: 60px 0;
}

.minor-project-section {
  @include span-columns(4);
  text-align: center;
}

.minor-project-section__image {
  display: block;
  height: 250px;
  line-height: 250px;
  background: $light-gray;
  margin-bottom: 30px;
  text-align: center;
}

.minor-project-section__image-caption {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: $thin-font-weight;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
}

.minor-project-section__action {
  margin-top: 30px;
}
