.page-content--project {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
}

.project-article-section {
  @include article-section(true);
  overflow: hidden;
  padding-top: 0;
  position: relative;
}

.project-article-section__container {
  @include page-container;
  position: relative;
  z-index: 1;
}

.project-article-section__body {
  margin-top: $base-spacing;

  h2,
  .project-article-section__title {
    @include heading-font(2);
    text-align: center;

    a {
      color: $base-font-color;
    }
  }
}

.project-article-section__accessory-title {
  display: block;
  text-transform: uppercase;
  font-size: $base-font-size;
  color: inherit;
  font-weight: 400;
  opacity: 0.5;
  text-align: center;

  &:hover {
    color: inherit;
  }
}

.project-article-section__aside {
  position: relative;
}

.project-article-section--action {
  @include article-section(true);
}

.project-article-section--action,
.project-article-section--center {
  text-align: center;
  padding-left: rem(80);
  padding-right: rem(80);
}

.project-article-section__more {
  text-align: center;
}

@include media($medium-screen-up) {
  .project-article-section__body {
    @include shift(2);
    @include span-columns(8);
  }

  .project-article-section--small {
    padding-top: 0;
    padding-bottom: 0;

    &,
    h2,
    .project-article-section__title,
    .project-article-section__accessory-title {
      text-align: left;
    }

    .project-article-section__container {
      padding-top: $large-spacing;
      padding-bottom: $large-spacing;
    }

    .project-article-section__body {
      @include span-columns(6);
      margin-left: 0;
      margin-top: 0;
    }

    .project-article-section__body--padded {
      padding-top: $base-spacing;
      padding-bottom: $base-spacing;
    }

    .project-background__figure {
      @include span-columns(6);
      @include shift(6);
      height: 100%;
      padding-top: $large-spacing;

      &:after {
        display: none;
      }
    }

    .project-article-section__more {
      text-align: left;
    }

    .project-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}
