.project-article-section {
  @include article-section;
}

.project-article-section__body {
  @include span-columns(6);
}

.project-article-section__aside {
  @include span-columns(6);
}

.project-article-section__figure {
  margin: 0;
}

.project-article-section--center {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}
