// --------------------
// Featured
.featured-project-section {
  overflow: hidden;
  position: relative;
  text-align: center;

  .project-background {
    margin-bottom: -$base-spacing;
  }

  .project-background__figure {
    display: block;
    padding-top: $base-spacing;
  }
}

.featured-project-section--12wbt {
  background: $white;

  .project-background__figure {
    @include vertical-gradient-mask($white);
  }
}

.featured-project-section--12wbt-app {
  background: $blue;

  .project-background__figure {
    @include vertical-gradient-mask($blue);
  }
}

.featured-project-section--vibe {
  background: $dark-gray;

  .project-background__figure {
    @include vertical-gradient-mask($dark-gray);
  }
}

.featured-project-section--beautyheaven {
  background: $turquoise;

  .project-background__figure {
    @include vertical-gradient-mask($turquoise);
  }
}

.featured-project-section--12wbt-app,
.featured-project-section--vibe,
.featured-project-section--beautyheaven {
  &,
  .featured-project-section__title a {
    color: $white;
  }

  .button,
  button {
    @include button(light);
  }
}

.featured-project-section__container {
  @include page-container;
  position: relative;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  z-index: 1;
}

.featured-project-section__title {
  font-size: rem(40);
  font-weight: $thin-font-weight;
  margin-bottom: $small-spacing;

  a {
    color: $base-font-color;
  }
}

.featured-project-section__accessory-title {
  text-transform: uppercase;
  font-size: $base-font-size;
  color: inherit;
  font-weight: 400;
  opacity: 0.5;

  &:hover {
    color: inherit;
  }
}

.featured-project-section__intro {
  font-size: $base-font-size;
  min-height: 1px;
}

@include media($medium-screen-up) {
  .featured-project-section {
    text-align: left;

    .project-background__figure {
      @include span-columns(6);
      padding-top: $base-spacing;
    }

    .project-background {
      margin-bottom: 0;
    }
  }

  .featured-project-section__container {
    padding-top: rem(150);
    padding-bottom: rem(150);
  }

  .featured-project-section--12wbt,
  .featured-project-section--vibe {
    .project-background__figure {
      @include shift(6);
    }
  }

  .featured-project-section--12wbt-app,
  .featured-project-section--beautyheaven {
    .featured-project-section__intro {
      @include shift(6);
    }

    .project-background__image {
      right: 0;
    }
  }

  .featured-project-section__intro {
    @include span-columns(6);
    font-size: rem(18);
  }

  .featured-project-section__title {
    font-size: rem(50);
  }
}

@include media($large-screen-up) {
  .featured-project-section {
    .project-background__image {
      margin: $base-spacing ($base-spacing * 1.5);
    }
  }

  .featured-project-section__intro {
    font-size: rem(20);
  }

  .featured-project-section__title {
    font-size: rem(60);
  }
}

// --------------------
// Fullpage
@include media(new-breakpoint(min-height rem(730))) {
  .fp-section.featured-project-section {
    &,
    .fp-tableCell {
      height: rem(730) !important;
    }
  }
}
