.project-article-section--featured {
  border: 0;
  text-align: center;
}

.project-article-section--12wbt {
  background: $white;

  .project-background__figure {
    @include vertical-gradient-mask($white);
  }

  .project-background__figure--device {
    height: auto;

    &:after {
      display: none;
    }
  }
}

.project-article-section--12wbt-app {
  background: $blue;

  .project-background__figure {
    @include vertical-gradient-mask($blue);
  }

  .project-background__figure--device {
    padding-bottom: 0;

    .project-background__image {
      position: relative;
      width: auto;
      left: -20%;
    }
  }
}

.project-article-section--vibe {
  background: $dark-gray;

  .project-background__figure {
    @include vertical-gradient-mask($dark-gray);
  }

  .project-background__figure--device {
    height: auto;

    &:after {
      display: none;
    }
  }
}

.project-article-section--beautyheaven {
  background: $turquoise;

  .project-background__figure {
    @include vertical-gradient-mask($turquoise);
  }

  .project-background__figure--device {
    padding-bottom: 0;
    height: 300px;

    .project-background__image {
      position: relative;
      width: auto;
      left: 20%;
    }
  }
}

.project-article-section--12wbt-app,
.project-article-section--vibe,
.project-article-section--beautyheaven {
  &,
  .project-article-section__title a {
    color: $white;
  }

  .button,
  button {
    @include button(light);
  }
}

@include media($medium-screen-up) {
  .project-article-section--featured {
    text-align: left;

    &.project-article-section--small {
      .project-article-section__container {
        padding-top: rem(140);
        padding-bottom: rem(140);
      }

      .project-background__figure:after {
        display: none;
      }
    }
  }

  .project-article-section--12wbt-app,
  .project-article-section--beautyheaven {
    .project-background__figure--device {
      .project-background__image {
        max-width: 500px;
      }
    }
  }
}
