// --------------------
// Project image background
.project-background {
  z-index: 0;
  overflow: hidden;

  .project-background__container {
    padding: 0;
  }
}

.project-background__container {
  @include page-container;
  position: relative;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  z-index: 1;
}

.project-background__figure {
  @include vertical-gradient-mask($white);
  height: 300px;
  padding: $base-spacing $base-spacing 0;
  position: relative;
  min-height: 1px;
  margin: 0;
  text-align: center;
}

.project-background__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $image-box-shadow;
}

.project-background__image--small {
  width: 300px;
}

@include media($medium-screen-up) {
  .project-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  .project-background__figure {
    @include span-columns(6);
    height: auto;
    padding: 0;

    &:after {
      visibility: hidden;
    }
  }

  .project-background__image {
    max-width: none;
    width: 680px;
  }

  .project-background__image--small {
    width: 400px;
  }

  .project-article-section {
    .project-background {
      padding: $large-spacing 0;
    }

    .project-background__figure {
      @include shift(6);
      padding-left: $base-spacing;
      padding-right: $base-spacing;
    }
  }
}
