// -----
// Project image background
.project-image-background__figure {
  @include vertical-gradient-mask($white);
  height: 300px;
  padding: 0 $base-spacing;
}

.project-image-background {
  z-index: 0;
  overflow: hidden;

  .project-image-background__container {
    padding: 0;
  }
}

.project-image-background__container {
  @include page-container;
  position: relative;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  z-index: 1;
}

.project-image-background__figure {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.project-image-background__image {
  display: inline-block;
  box-shadow: $image-box-shadow;
}

.project-image-background__image--small {
  width: 300px;
}

@include media($medium-screen-up) {
  .project-image-background,
  .project-image-background__image {
    position: absolute;
  }

  .project-image-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  .project-image-background__figure {
    @include span-columns(6);
    height: auto;
    padding: 0;
    text-align: left;

    &:after {
      visibility: hidden;
    }
  }

  .project-image-background__image {
    max-width: none;
    width: 680px;
  }

  .project-image-background__image--small {
    width: 400px;
  }

  .project-article-section {
    .project-image-background {
      padding: $large-spacing 0;
    }

    &:first-child {
      .project-image-background {
        padding-top: 0;
      }
    }

    .project-image-background__image {
      margin: 0 $base-spacing;
    }

    .project-image-background__figure {
      @include shift(6);
    }
  }
}
