.blog-article-summary {
  border-bottom: $base-border;
  padding-bottom: 60px;
  margin-bottom: 60px;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.blog-article-summary__title {
  font-size: rem(50);
  margin-bottom: 10px;

  a {
    color: inherit;

    &:hover {
      color: $hover-base-font-color;
    }
  }
}

.blog-article-summary__body {
  margin-bottom: $base-spacing;
}

.blog-article,
.blog-comment {
  @include article-section;
}

.blog-article__meta,
.blog-article-summary__meta {
  font-size: $small-font-size;
  color: $medium-gray;
  margin-bottom: $base-spacing;

  strong {
    text-transform: uppercase;
  }

  a {
    color: inherit;
  }
}

.highlight {
  background: $white;
  border: 1px solid $light-border-color;
  margin-bottom: $base-spacing;

  pre {
    margin: 0;
    padding: $base-spacing;
  }
}
