.blog-article-summary {
  border-bottom: $base-border;
  padding: $base-spacing 0;

  &:last-child {
    border-bottom: 0;
  }
}

.blog-article-summary__title {
  @include heading-font(2);
  margin-bottom: rem(10);

  a {
    color: inherit;

    &:hover {
      color: $action-color;
    }
  }
}

.blog-article-summary__body {
  margin-bottom: $base-spacing;
}

.blog-article,
.blog-comment {
  @include article-section;
}

.blog-article__meta,
.blog-article-summary__meta {
  font-size: $small-font-size;
  color: $medium-gray;
  margin-bottom: $base-spacing;

  strong {
    text-transform: uppercase;
  }

  a {
    color: inherit;

    &:hover {
      color: $action-color;
    }
  }
}

.blog-article-summary__meta {
  margin-bottom: $small-spacing;
}

@include media($medium-screen-up) {
  .blog-article-summary {
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
  }
}

// -----
// Syntax highlight
.highlight {
  background: $white;
  border: 1px solid $light-border-color;
  margin-bottom: $base-spacing;

  pre {
    margin: 0;
    padding: $base-spacing;
  }
}
