.blog-article-summary {
  border-bottom: $base-border;
  padding-bottom: 60px;
  margin-bottom: 60px;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.blog-article-summary__title {
  font-size: rem(50);
  margin-bottom: 10px;
}

.blog-article-summary__meta {
  font-size: $small-font-size;
  color: $medium-gray;
}

.blog-article-summary__body {
  margin-bottom: 15px;
}

.blog-article,
.blog-comment {
  @include article-section;
}

.blog-article__meta {
  font-size: $base-font-size;
  color: $medium-gray;

  strong {
    text-transform: uppercase;
  }
}
