<footer class="page-section contact-footer" data-anchor="contact">
  <div class="contact-footer__container">
    <div class="contact-footer__intro">
      <h1 class="contact-footer__title">
        Get in touch
      </h1>

      <p>
        If you want to know more about my work, feel free to get in touch with me.
      </p>

      <ul class="contact-footer__meta">
        <li>
          <a href="mailto:{{ site.author.email }}">
            <i class="ion-ios-email-outline"></i> {{ site.author.email }}
          </a>
        </li>

        <li>
          <a href="tel:{{ site.author.phone | remove:" " }}">
            <i class="ion-ios-telephone-outline"></i> {{ site.author.phone }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="contact-footer__container">
    {% include footer-navigation.html %}
    {% include footer-disclaimer.html %}
  </div>
</footer>
