<!-- CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Packaged JS -->
<!-- build:js({app,.tmp}) /js/application.js -->
<script src="/_bower_components/fullpage/jquery.fullPage.js"></script>
<script src="/_bower_components/lazysizes/lazysizes.js"></script>
<script src="/_bower_components/fastclick/lib/fastclick.js"></script>
<script src="/_bower_components/enquire/dist/enquire.js"></script>
<script src="/js/hamburger-menu.js"></script>
<script src="/js/link-helper.js"></script>
<script src="/js/initializers/fastclick.js"></script>
<script src="/js/initializers/homepage.js"></script>
<script src="/js/initializers/navigation.js"></script>
<script src="/js/initializers/contact.js"></script>
<!-- endbuild -->
