<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <title>
    {% if page.browser_title %}
      {{ page.browser_title }} | {{ site.title }}
    {% elsif page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,300italic,400italic,700italic">

  <!-- build:css({app,.tmp}) /css/application.css -->
  <link rel="stylesheet" href="/_bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- endbuild -->

  <script>
    window.disqus_shortname = "{{ site.data.settings.disqus.shortname }}"
  </script>
</head>
