<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,300italic,400italic,700italic">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:700,900'>

  <!-- build:css({app,.tmp}) /css/application.css -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- endbuild -->
</head>
