.recent-articles-section__title {
  text-align: center;
  font-size: rem(60);
}

.recent-articles-section__container {
  @include page-container;
  padding: $large-spacing;
}

.recent-articles-group {
  @include page-container;
}

.recent-articles-section__action {
  margin-top: $base-spacing;
  text-align: center;
}

.recent-article-section {
  @include span-columns(6);
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;

  &:nth-child(2n+1) {
    @include omega;
  }

  .blog-article-summary__title {
    font-size: $base-spacing;
  }

  .blog-article-summary__meta {
    margin-bottom: rem(5);
  }
}
