.contact-footer {
  background: $dark-gray;
  color: $white;
}

.contact-footer__container {
  @include outer-container;

  &:first-child {
    padding-top: 60px;
  }

  &:last-child {
    padding-bottom: 30px;
  }
}

.contact-footer__title {
  font-size: 60px;
  font-weight: $thin-font-weight;
  margin-bottom: 0.25em;
}

.contact-footer__intro {
  @include span-columns(8);
  font-size: 30px;
  font-weight: $thin-font-weight;
}

.contact-footer__aside {
  @include span-columns(4);
}

.fine-print-footer {
  color: $medium-gray;
}
