.contact-footer {
  background: $dark-gray;
  color: $white;

  .global-footer-navigation {
    border-top: 1px solid $medium-gray;
  }
}

.contact-footer__container {
  @include outer-container;

  &:first-child {
    padding-top: 60px;
  }

  &:last-child {
    padding-bottom: 30px;
  }
}

.contact-footer__title {
  font-size: 60px;
  font-weight: $thin-font-weight;
  margin-bottom: 0.25em;
}

.contact-footer__intro {
  @include span-columns(8);
  font-size: 30px;
  font-weight: $thin-font-weight;
}

.contact-footer__aside {
  @include span-columns(4);
}

.contact-footer__meta {
  font-size: $base-font-size;

  > li {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    font-size: 140%;
    vertical-align: -3px;
  }

  a {
    color: $white;
  }
}

.fine-print-footer {
  color: $medium-gray;
}
