.hero-header {
  background: $light-gray;
  text-align: center;
  position: relative;

  .global-navigation {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
  }
}

.hero-header__container {
  @include outer-container;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero-header__title,
.hero-header__subtitle {
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.hero-header__title {
  font-family: $brand-font-family;
  font-size: 140px;
  font-weight: 900;
}

.hero-header__subtitle {
  font-size: 40px;
  font-weight: 700;
}

.hero-header__intro {
  font-size: 30px;
  margin: 50px auto 0;
  max-width: 80%;
  line-height: $small-line-height;
}

.hero-header__action {
  margin-top: 25px;
}
