@include keyframes(scroll-prompt-up-down) {
  0% {
    @include transform(translateY(-5px));
  }

  50% {
    @include transform(translateY(5px));
  }

  100% {
    @include transform(translateY(-5px));
  }
}

.hero-header {
  background: $light-gray;
  text-align: center;
  position: relative;

  .global-navigation {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
  }

  .navicon-button {
    display: none;
  }
}

.hero-header__container {
  @include page-container;
  padding-top: rem(100);
  padding-bottom: rem(100);
}

.hero-header__title,
.hero-header__subtitle {
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.hero-header__title {
  margin-bottom: rem(20);
  line-height: 0;
}

.hero-header__logo {
  max-width: rem(520);
  width: 100%;
}

.hero-header__subtitle {
  font-size: rem(25);
  font-weight: $thin-font-weight;
}

.hero-header__intro {
  font-size: rem(25);
  margin: $base-spacing auto 0;
  line-height: $small-line-height;
}

.hero-header__action {
  margin-top: $base-spacing;
}

.hero-header__detail {
  margin: 1em auto 0;
}

.hero-header__intro,
.hero-header__detail {
  max-width: none;
}

.hero-header__scroll-prompt {
  @include animation(scroll-prompt-up-down ease-in-out infinite 1.5s);
  display: block;
  position: absolute;
  text-align: center;
  bottom: $base-spacing;
  left: 0;
  right: 0;
  font-size: $large-font-size;
}

@include media($small-screen-up) {
  .hero-header__subtitle {
    font-size: rem(30);
  }

  .hero-header__intro {
    font-size: rem(30);
  }

  .hero-header__intro {
    margin-top: $large-spacing;
  }

  .hero-header__scroll-prompt {
    font-size: rem(25);
  }
}

@include media($large-screen-up) {
  .hero-header__intro,
  .hero-header__detail {
    max-width: 80%;
  }
}
