.hero-header {
  background: $light-gray;
  text-align: center;
  position: relative;

  .global-navigation {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
  }
}

.hero-header__container {
  @include page-container;
  padding-top: rem(100);
  padding-bottom: rem(100);
}

.hero-header__title,
.hero-header__subtitle {
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.hero-header__title {
  margin-bottom: rem(20);
}

.hero-header__logo {
  max-width: 700px;
  width: 100%;
}

.hero-header__subtitle {
  font-size: rem(40);
  font-weight: $bold-font-weight;
}

.hero-header__intro {
  font-size: rem(34);
  margin: rem(50) auto 0;
  max-width: 80%;
  line-height: $small-line-height;
}

.hero-header__action {
  margin-top: 25px;
}

.hero-header__detail {
  max-width: 80%;
  margin: 1em auto 0;
}

@include media($large-screen-down) {
  .hero-header__intro,
  .hero-header__detail {
    max-width: none;
  }
}
