// Featured
.featured-project-section--12wbt {
  background: $white;
}

.featured-project-section--12wbt-app {
  background: $blue;
}

.featured-project-section--vibe {
  background: $dark-gray;
}

.featured-project-section--beautyheaven {
  background: $turquoise;
}

.featured-project-section--12wbt-app,
.featured-project-section--vibe,
.featured-project-section--beautyheaven {
  color: $white;

  .button,
  button {
    @extend %button--light;
  }
}

.featured-project-section__container {
  @include outer-container;
  padding-top: 60px;
  padding-bottom: 60px;
}

.featured-project-section__title {
  font-size: rem(60);
  font-weight: $thin-font-weight;
  margin-bottom: 0.5em;
}

.featured-project-section__accessory-title {
  text-transform: uppercase;
  font-size: $base-font-size;
  color: inherit;
  opacity: 0.5;

  &:hover {
    color: inherit;
  }
}

.featured-project-section__intro {
  @include span-columns(8);
  font-size: rem(24);
}

.featured-project-section__aside {
  @include span-columns(4);
}

.minor-projects-group__container {
  @include outer-container;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Minor
.minor-project-section {
  @include span-columns(4);
  text-align: center;
}

.minor-project-section__image {
  display: block;
  height: 250px;
  line-height: 250px;
  background: $light-gray;
  margin-bottom: 30px;
  text-align: center;
}

.minor-project-section__image-caption {
  display: inline-block;
  text-transform: uppercase;
  font-size: rem(30);
  font-weight: $thin-font-weight;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
}

.minor-project-section__action {
  margin-top: 30px;
}

.minor-projects-group__title {
  text-align: center;
  font-size: rem(50);
}

