// Featured
.featured-project-section {
  overflow: hidden;
  position: relative;
}

.featured-project-section--12wbt {
  background: $white;
}

.featured-project-section--12wbt-app {
  background: $blue;
}

.featured-project-section--vibe {
  background: $dark-gray;
}

.featured-project-section--beautyheaven {
  background: $turquoise;
}

.featured-project-section--12wbt-app,
.featured-project-section--vibe,
.featured-project-section--beautyheaven {
  color: $white;

  .button,
  button {
    @extend %button--light;
  }
}

.featured-project-section--12wbt,
.featured-project-section--vibe {
  .featured-project-section__figure {
    @include shift(7);
  }
}

.featured-project-section--12wbt-app,
.featured-project-section--beautyheaven {
  .featured-project-section__intro {
    @include shift(5);
  }

  .featured-project-section__image {
    right: 0;
  }
}

.featured-project-section__container {
  @include outer-container;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 1;
}

.featured-project-section__title {
  font-size: rem(60);
  font-weight: $thin-font-weight;
  margin-bottom: 0.5em;
}

.featured-project-section__accessory-title {
  text-transform: uppercase;
  font-size: $base-font-size;
  color: inherit;
  opacity: 0.5;

  &:hover {
    color: inherit;
  }
}

.featured-project-section__intro {
  @include span-columns(7);
  font-size: rem(24);
  min-height: 1px;
}

.featured-project-section__aside,
.featured-project-section__figure {
  @include span-columns(5);
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.featured-project-section__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}

.featured-project-section__image {
  position: absolute;
  margin: $base-spacing;
  display: block;
  max-width: none;
  width: 680px;
  box-shadow: $image-box-shadow;
}

.featured-project-section__image--small {
  width: 480px;
}

// Minor
.minor-projects-group__container {
  @include outer-container;
  padding-top: rem(60);
  padding-bottom: rem(60);
}

.minor-project-section {
  @include span-columns(4);
  font-size: $small-font-size;
}

.minor-project-section__title {
  font-size: rem(30);
  margin-bottom: rem(5);
}
.minor-project-section__figure {
  display: block;
  height: 250px;
  line-height: 250px;
  overflow: hidden;
  background: $light-gray;
  text-align: center;
  margin-bottom: $base-spacing;
}

.minor-project-section__figure-caption {
  display: inline-block;
  text-transform: uppercase;
  font-size: rem(30);
  font-weight: $thin-font-weight;
  line-height: $base-line-height;
  vertical-align: middle;
  margin: 0;
}

.minor-project-section__action {
  margin-top: $base-spacing;
}

.minor-projects-group__title {
  text-align: center;
  font-size: rem(60);
}
