<section class="page-section minor-projects-group">
  <div class="minor-projects-group__container">
    <h1 class="minor-projects-group__title">
      Personal Projects
    </h1>

    <p class="minor-projects-group__intro">
      Here are some projects I worked on in my spare time.
    </p>

    <article class="minor-project-section">
      <div class="minor-project-section__figure">
        <img data-src="/img/projects/angular-endless-scroll/editor.jpg" class="lazyload"/>
      </div>

      <div class="minor-project-section__body">
        <h1 class="minor-project-section__title">
          Endless Scroll
        </h1>

        <p>
          Angular Endless Scroll is a directive used to implement infinite scrolling UI. As a page gets longer, it manages the number of elements in DOM tree, and allows deep-linking to paginated pages.
        </p>

        <div class="minor-project-section__action">
          <a href="//github.com/{{ site.data.social.github.username }}/angular-endless-scroll" class="button" target="_blank">
            View project
          </a>
        </div>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__figure">
        <img data-src="/img/projects/tinypantry/home.jpg" class="lazyload"/>
      </div>

      <div class="minor-project-section__body">
        <h1 class="minor-project-section__title">
          TinyPantry
        </h1>

        <p>
          TinyPantry is a recipe website built with AngularJS and Rails. Recipes are indexed and categorised daily by a scheduled task - AngularJS is used to render the data fetched from a versioned API.
        </p>

        <div class="minor-project-section__action">
          <a href="//github.com/{{ site.data.social.github.username }}/tinypantry" class="button" target="_blank">
            View project
          </a>
        </div>
      </div>
    </article>

    <article class="minor-project-section">
      <div class="minor-project-section__figure">
        <img data-src="/img/projects/neuplace/feed.jpg" class="lazyload"/>
      </div>

      <div class="minor-project-section__body">
        <h1 class="minor-project-section__title">
          Neuplace
        </h1>

        <p>
          Neuplace is a native iOS app showcasing curated images of interior designs. It is integrated with Tumblr JSON API, featuring an endless collection of images which users can bookmark and share.
        </p>

        <div class="minor-project-section__action">
          <a href="https://itunes.apple.com/app/id955254120" class="button" target="_blank">
            View project
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
