body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

@for $level from 1 to 6 {
  h#{$level} {
    @include heading-font($level);
  }
}

p {
  margin: 0 0 $base-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border: 0 0 $base-border 0;
  margin: $base-spacing 0;
}

em {
  font-style: normal;
  font-weight: 400;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

@include media($medium-screen-up) {
  body {
    font-size: $large-font-size;
  }
}

