// Typography
$base-font-family: "Fira Sans", Helvetica, sans-serif;
$heading-font-family: $base-font-family;
$base-font-size: 18px;
$small-font-size: rem(15);
$em-base: $base-font-size;
$rem-base: $base-font-size;
$base-font-weight: 300;
$thin-font-weight: 300;
$bold-font-weight: 700;
$heavy-font-weight: 900;
$base-line-height: 1.5;
$small-line-height: 1.2;
$heading-line-height: $small-line-height;

// Icon
$ionicons-font-path: "../../_bower_components/ionicons/fonts/";

// Spacing
$base-spacing: $base-line-height * 1rem;
$large-spacing: $base-line-height * 2rem;
$small-spacing: $base-spacing / 2;
$page-content-spacing: rem(80);
$base-z-index: 0;

// Colors
$white: #fff;
$black: #000;
$blue: #007ce0;
$turquoise: #34b5d0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #eee;
$base-font-color: $black;
$hover-base-font-color: #666;
$light-font-color: $white;
$action-color: $blue;
$base-border-color: #ccc;
$dark-border-color: #666;
$light-border-color: #ddd;
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Border
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;

// Shadow
$image-box-shadow: 0 5px 40px transparentize($black, 0.8);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
