// Typography
$base-font-family: "Fira Sans", Helvetica, sans-serif;
$brand-font-family: Raleway, Helvetica, sans-serif;
$heading-font-family: $base-font-family;
$base-font-size: 16px;
$small-font-size: 13px;
$base-font-weight: 400;
$thin-font-weight: 300;
$bold-font-weight: 700;
$base-line-height: 1.5;
$small-line-height: 1.2;
$heading-line-height: $small-line-height;

// Spacing
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$black: #000;
$blue: #007ce0;
$turquoise: #34b5d0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #eee;
$base-font-color: $black;
$action-color: $blue;
$base-border-color: #ccc;
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Border
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
